<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>MMA Gyms In California</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	<meta name="author" content="cristian cisneros">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<meta content='width=device-width, initial-scale=1.0' name='viewport' />


<link href="https://cdn2.jobon.com/assets/application_new-f4caa5288fbc542fee34a0583ce65065.css" media="screen" rel="stylesheet" />

<script src="https://cdn1.jobon.com/assets/modernizr-def5a738bacadd2f424772581f6b9583.js"></script>
<script src="https://cdn0.jobon.com/assets/application-20939d41233543948623a3cc7d9d9ecf.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="body">
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		</div>
		<%#= render 'layouts/vendor_and_javascript_files' %>
	</body>
</html>